.container {

}
.links {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logout {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;

}
.menuButton,
.mobileLinks {
    display: none;
}

@media (max-width: 768px) {
    .links {
        display: none;
    }
    .mobileLinks {
        background-color: var(--bg-mobileLinks);
        position: fixed;
        right: 0;
        top: 0; /* Added to align with the top */
        width: calc(100% - 40px); /* Adjusted width to accommodate the menu button padding */
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding-top: 50px; /* Added to push content down to accommodate the menu button */
        z-index: 1000;
    }
    .menuButton {
        display: block;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        position: absolute;
        top: 0; /* Positioned at the top */
        right: 0; /* Positioned at the right */
        z-index: 1001;
    }
}