.container {
    display: flex;
    gap: 100px;
}
.textContainer{
    flex: 2;
    flex-direction: column;
    gap:50px;
}
.imgContainer {
    flex:1;
    background-color: var(--item-border);
    width: 70%;
    height: calc(100vh - 200px);
    position: relative;
    box-sizing: border-box;
    border: 10px solid var(--item-border);
}
.img{
    object-fit:contain;
}
.buyContainer{

}