@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.footer{
    width: 100%;
    background:var(--bg-footer);
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
}

.footer .row{
    text-align: center;
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color: rgb(255, 255, 255);
    font-size:0.8em;
}

.footer .row a{
    text-align: center;
    text-decoration:none;
    color: rgb(255, 255, 255);
    transition:0.5s;
}

.footer .row a:hover{
    color:var(--text-hover);
}

.footer .row ul{

    width:100%;
}

.footer .row ul li{
   text-align: center;
    display:inline-block;
    margin:0px 30px;
}

.footer .row a i{
   text-align: center;
    font-size:2em;
    margin:0% 1%;
}

@media (max-width:720px){
    .footer{
        text-align:left;
        padding:5%;
    }
    .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }
    .footer .row a i{
        margin:0% 3%;
    }
}