.previewContainer {
    display: grid;
    grid-template-areas:
    "arrowLeft imgContainer arrowRight"
    "thumbnailContainer thumbnailContainer thumbnailContainer";
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 80%  20%;
    height: 50rem;
    width: 100%;
    background-color: var(--bg-previewContainer);
    justify-items: center;
    align-items: center;
}

.imgContainer {
    grid-area: imgContainer;
    justify-content: center;
    align-items: center;
    display: flex;
    flex:1;
    height: 90%;
    width: 100%;
}

.img{
    object-fit:contain;
}
.thumbnailContainer {
    grid-area: thumbnailContainer;
    display: flex;
    overflow-x: auto;
    gap: 8px;
    justify-content: center;

}

@media (max-width: 768px) {
    .thumbnailContainer {
        display: none;
    }
    .previewContainer {
        height: 35rem;
        width: 60%;
        grid-template-rows: 100%;
        grid-template-columns: 100%;
        grid-template-areas: "imgContainer";
    }
    .imgContainer {
        height: 80%;
        width: 80%;
    }
}
